/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  background-color: #B7D4BC;
  margin: 5px 20px;
  height: 100%;
  width: 99%; }
  html body .rps-card, html body .rps-card-1, html body .rps-card-2 {
    height: 300px;
    background-color: blanchedalmond; }
  html body .rps-button {
    background: linear-gradient(to right, #d5cea6, #b7ad70);
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 15px;
    font-weight: bold; }
  html body .rps-button:hover {
    background: linear-gradient(to right, #c5bb83, #a29752); }
  html body #send-chat {
    width: 60%; }
  html body #score1, html body #score2 {
    position: absolute;
    bottom: 10px; }
