/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  background-color: lightcyan;
  margin: 5px 20px;
  height: 100%;
  width: 99%; }
  html body .rps-card {
    height: 300px; }
  html body #send-chat {
    width: 60%; }
  html body #score-1, html body #score-2 {
    bottom: 10px; }
