/* stylesheet */
* {
  box-sizing: border-box; }

html body {
  background-color: #B7D4BC;
  margin: 5px 20px;
  height: 100%;
  width: 99%; }
  html body p {
    line-height: normal; }
  html body .rps-card, html body .rps-card-1, html body .rps-card-2 {
    height: 300px;
    background-color: #f1ede7; }
  html body .rps-button {
    background: linear-gradient(to right, #d5cea6, #b7ad70);
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 4px;
    border-radius: 15px;
    font-weight: bold; }
  html body .rps-button:hover {
    background: linear-gradient(to right, #c5bb83, #a29752); }
  html body .rps-img {
    width: 23%; }
  html body .rps-img-selected {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
  html body #player-state-message, html body #player-welcome-message {
    font-weight: bold;
    font-size: 115%;
    font-style: italic;
    text-align: center; }
  html body #send-chat {
    width: 60%; }
  html body #score1, html body #score2 {
    position: absolute;
    bottom: 5px;
    font-weight: bold;
    font-size: 110%; }
